<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>错误提示页面</title>
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	</head>
	<body>
		<h4><%=msg%> </h4>
	</body>
</html>
