<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主页面</title>
	<link rel="shortcut icon" href="/web/html/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/web/css/reset.css">
	<link rel="stylesheet" href="/web/css/common.css">
	<link rel="stylesheet" href="/web/css/main.css">
	<link rel="stylesheet" href="/web/css/nav.css">
</head>
<body>
<%- include('nav/nav.ejs'); -%>
<div id="content">
	<div class="container">
		<div id="imgs">
			<img src="/web/imgs/ad.bid.png" alt="">
		</div>
		<div id="box">
			<div class="go">
				<p><a href="/management">进入我的相册<span></span></a></p>
				<p><a href="/square">进入相册广场<span></span></a></p>
				<p><a href="/upload_img_href">管理我的相册<span></span></a></p>
			</div>
			<div class="txt">
				<p>最新公告:</p>
				<p>&gt;您要发财啦！哈哈哈</p>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container"></div>
</div>
</body>
</html>