<div id="header">
	<div class="container">
		<div id="login">
			<img  src="/web/imgs/logoA.png" alt=""/>
		</div>
		<ul id="nav">
			<% if(!username){%>
				<li class="item"><a href="/web/html/login.html">登陆</a></li>
				<li  class="item"><a href="/web/html/regist.html">注册</a></li>
			<%}else{ %>>
				<li class="item me"><a><%=username%>的相册</a>
					<ul class="list">
					<li><a href="/management">我的相册</a></li>
					<li><a href="/person_info" >个人资料</a></li>
					<li><a href="/upload_img_href">上传相片</a></li>
					<li><a href="/square">相册广场</a></li>
					<li><a href="/upload_img_href">管理相册</a></li>
					</ul>
				</li>
			<li class="item"><a href="/exits">退出</a></li>
				<%}%>>
		</ul>
	</div>
</div>